.ClientenLijst
{
    border-top:1px solid gray;
    overflow-y:scroll;
    height:500px;
}

.ClientenLijstItem
{
    border-bottom:1px solid gray;
}

.ClientenLijstItem h3
{
    display:inline-block;
}

.ClientNaam
{
    margin-left:5%;
    width:45%;
}

.ZorgMomentTijd
{
    margin-left:3%;
}

.fa-arrow-right
{
    color:rgb(108,0,70);
    margin-left:25%;
}

.HuidigeDatum
{
    text-align:center;
}
